@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #f8f8f8;
}
.navbar{
  background-color: #5fd689;
  padding: 30px;
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: 40px auto !important;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.59);
  -webkit-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.59);
  background-color: #ebebeb;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
.subtitle {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
}
.form-container form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}
.form-container label {
  margin-bottom: 5px;
  font-weight: bold;
}
.form-container input[type="text"],
.form-container input[type="number"] {
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form-container input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 2px;
}
.form-container input[type="submit"]:hover {
  background-color: #45a049;
}
.result-container {
  margin-top: 20px;
  padding: 15px;
  background-color: #e0e0e0;
  border-radius: 8px;
  text-align: center;
  width: 50%;
  margin: 20px auto;
}
.result-container .title-result {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.result-container .result {
  margin: 15px 0;
  font-size: 17px;
}

.result-container .result span {
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  font-weight: bold;
  padding: 7px 12px;
  border-radius: 50%;
}


section{
  width: 70%;
  margin: 50px auto;
}
